@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <h1>This is Lab3, navigate to your page of choice!</h1>
</body>

</html>
