body {
    background-color: #d8d8d8;
    margin: 0;
    padding: 0;
    min-width:1140px;
    overflow: hidden;
    font-family: Calibri;
}

.createTb {
    border-collapse: separate;
    border-spacing: 0 15px;
}


.createTd {
    width: 170px;
    text-align: left;
    padding: 5px;

}

#submitBtn {
    margin-left: 0 auto;
    background-color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

#submitBtn:hover {
    background-color: #aee4ff;
    font-size: 18px;
}

header {
    width: 100%;
    height: 120px;
    color: white;
    background-color: #626262;
    border: 1px solid black;
    text-align: center;
    position: fixed;
    overflow: hidden;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.menu {
    padding-top: 5px;
    font-size: 18px;
    width: 100%;
    height: 50px;
    background-color: #aee4ff;
    font-family: 'Times New Roman', Times, serif;
}

.menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    float: left;
}


.menu a:hover {
    border-radius: 15px;
    background-color: white;
}

.content {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: auto;
    top: 20%;
}

footer {
    color: white;
    text-align: center;
    background-color: #626262;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
